/* Homepage specific CSS */

/*Instructions and start block*/
#content {
  margin: 10px;
  padding: 30px;
  border: solid 1px #888;
  background-color: #84B59F;
  opacity: 0.75;
  text-align: center;
}

#start {
  background-color: #ebe047; /* Green */
  border: 2px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

#instructions {
  padding: 30px
}