/* CSS */

body {
  background-image: url('../img/home.JPG'); 
  background-size: cover;

}

h1 {
  letter-spacing: 3px;
  word-spacing: 5px;
  font-size: 300%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2,h3 {
  font-family: sans-serif;
}

#content {
  margin: 10px;
  padding: 20px;
  border: solid 1px #888;
  background-color: #f0f0b6ec;
  text-align: center;
}

/* Button Formatting */

.button {
  margin-inline: 3  px;
  /* Animation */
  transition:  0.2s;
  transition-timing-function: ease-out;
  border-radius: 15px;
}

.button:hover {
  background-color: #386a94;
  color:#ffffff;
  border-radius: 8px;
}

/* nav bar */

#site-title {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #f0f0b6ec;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
}

/*Instructions and start block*/
#start {
  background-color: #386a94; /* Highlight */
  border: 2px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  border-radius: 25px;
  /* Animation */
  transition: 0.2s;
  transition-timing-function: ease-out;
}

#start:hover {
  border-radius: 10px;
}

#instructions {
  padding: 30px;
  text-align: center;
  list-style-position: inside;
}

#home {
  text-align: center;
}

/*About*/
#about {
  text-align: center;
}

/*Location 1*/
#location1 {
  text-align: center;
}

/* tabs */
.hidden {
  display: none;
}

.tabbed-section {
  max-width: 1500px;
  max-height: 1000px;
  margin: 0 auto;
}

.tab-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab {
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #386a94;
  color: rgb(255, 255, 255);
}

.tab-content {
  background-color: #f1f1dc;
  border: 1px solid #ccc;
  padding: 20px;
}

.tab-pane {
  display: none;
  min-height: 100px;
}

.tab-pane.active {
  display: block;
}

