/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url("cute-grey-kitten.jpg");
  background-color: #e2ebed;
  
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 3px;
  word-spacing: 5px;
  font-size: 200%;
  text-align: center;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.nav-bar {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}
