/* stuff on every page */

/* the title and nav bar */

body {
  background-color: #e2ebed;
}

h1 {
  letter-spacing: 3px;
  word-spacing: 5px;
  font-size: 300%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2,h3 {
  font-family: sans-serif;
}

.nav-bar {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}
